body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5); /* Gray shade with 50% transparency */
  z-index: -1;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
  background-image: url('./images/netflix-bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0a1f64d9;
  }

.bodyContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bodyHeader {
    background-color: #e0e0e0;
    height: auto;
}

.bodyContent {
    background-color: #f0f0f0;
    flex: 1; /* Fill remaining space */
}

.bodyFooter {
    background-color: #e0e0e0;
    height: auto;
}


.image-container {
    height: 200px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the container */
  }
  .hovered-link {
    transition: all 0.5s;
  }
  
  .hovered-link:hover div {
    transition: all 0.4s;
    transform: scale(1.02);
    filter: brightness(1.1);
    color: #161df5ea;
    box-shadow: 0 0 10px rgba(214, 214, 12, 0.319);
  }

  .card{
    border: none!important;
    margin: 0 !important;
    background-color: #5c5c5c91
  }

  .user-icon:hover + .user-details {
    display: block;
  }
.user-details:hover {
    display: block;
  }
.user-details {
  display: none;
  position: absolute;
  background-color: #bebdbd;
  padding: 10px;
  top: 100%;
  right: 0;
}

/* ! Text Annimation css*/


.typing-demo {
  width: 17ch;
  animation: typing 2s steps(28), blink .8s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}